torch
importlib_metadata
huggingface_hub
scipy
opencv-python>=4.7.0.72
filelock
Pillow
einops
torchvision
pyyaml
scikit-image
python-dateutil
mediapipe
svglib
fvcore
yapf
omegaconf
ftfy
addict
yacs
trimesh[easy]
albumentations
scikit-learn
matplotlib
# ControlNet preprocessors
controlnet-aux
timm
transformers
onnxruntime
onnxruntime-gpu
insightface
rembg
segment-anything

#impact
piexif
opencv-python-headless
scipy>=1.11.4
dill
git+https://github.com/facebookresearch/sam2

#impact subpack
ultralytics>=8.3.162

openai

numpy>=1.26.4
pywavelets

pathlib

ffmpeg